<!DOCTYPE html>
<html>
<head>
<title>How to Implement OTP SMS Mobile Verification in PHP with TextLocal</title>
<!-- <link href="style.css" type="text/css" rel="stylesheet" /> -->
</head>
<body>
    <script type="text/javascript">
        function MatchDemo() {
            var phone = document.getElementById("mobile").value;
            re =/\+\d{2}-\d{10}/;
            alert(re.test(phone));
        }
    </script>
	<div class="container">
		<div class="error"></div>
		<form id="frm-mobile-verification" action = "{{url_for('number')}}" method="POST">
			<div class="form-heading">Mobile Number Verification</div>

			<div class="form-row">
				<input id="mobile"  name = "num" type = "text"
					placeholder="Enter the 10 digit mobile" required>
			</div>

			<input type="submit" class="btnSubmit" value="Send OTP"
				>
		</form>
	</div>

	<!-- <script src="jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="verification.js"></script> -->
</body>
</html>
